<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletSesion</servlet-name>
        <servlet-class>Controlador.ServletSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMaestro</servlet-name>
        <servlet-class>Controlador.ServletMaestro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEncargado</servlet-name>
        <servlet-class>Controlador.ServletEncargado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMaterias</servlet-name>
        <servlet-class>Controlador.ServletMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlumnos</servlet-name>
        <servlet-class>Controlador.ServletAlumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrueba</servlet-name>
        <servlet-class>Controlador.ServletPrueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTratamientos</servlet-name>
        <servlet-class>Controlador.ServletTratamientos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBitacora</servlet-name>
        <servlet-class>Controlador.ServletBitacora</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSesion</servlet-name>
        <url-pattern>/ServletSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMaestro</servlet-name>
        <url-pattern>/ServletMaestro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEncargado</servlet-name>
        <url-pattern>/ServletEncargado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMaterias</servlet-name>
        <url-pattern>/ServletMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlumnos</servlet-name>
        <url-pattern>/ServletAlumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrueba</servlet-name>
        <url-pattern>/ServletPrueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTratamientos</servlet-name>
        <url-pattern>/cargarFormulario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBitacora</servlet-name>
        <url-pattern>/ServletBitacora</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
