
body{
	background: #1a1a1a;
}
.login-panel{
	border-top:10px solid #93c01f;
  padding: 0px 0px;
  width: 59%;
background: #4d4d4d;
	height: 550px;
	width: 350px;
	margin: auto;
	box-shadow: 0 0 15px black; 
}
h5{
	color:#fff;
}






	


